@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Design tokens from Figma (Colors + Fonts) */
  --color-primary: #830033;
  --color-accent: #FFE299;
  --color-surface: #FFFAEE;
  --color-button: #a10041;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-rambla: 'Rambla', sans-serif;
  --font-oleo-script: 'Oleo Script Swash Caps', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Rambla', sans-serif;
}
